{{ define "main" }}
<div class="jumbotron">
  <div class="container">
    <section class="row">
      <div class="col text-center">
        <img src="/img/paul.png" width="300" height="282"><br>
        <a href="https://github.com/thepaulbenoit"><i class="fa fa-github fa-lg"></i></a>
        <a href="https://linkedin.com/in/paulbenoitsecurity"><i class="fa fa-linkedin fa-lg"></i></a>
        <a href="mailto:benoitpaul6@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
      </div>
      <div class="col">
        <h1 class="display-4">Hi</h1>
        <p class="lead">I'm Paul</p>
        <p>I build things, mostly things related to cyber security.</p>
        <body>
        </body>
      </div>
    </section>
  </div>
</div>
{{ end }}