{{ define "main" }}
<div class="jumbotron">
  <div class="container">
    <section class="row">
      <div class="col text-center">
        <img src="/img/paul.png" alt="Paul Benoit">
        <br>
        <a href="https://github.com/thepaulbenoit"><i class="fa fa-github fa-lg"></i></a>
        <a href="https://linkedin.com/in/paulbenoitsecurity"><i class="fa fa-linkedin fa-lg"></i></a>
        <a href="mailto:benoitpaul6@gmail.com"><i class="fa fa-envelope fa-lg"></i></a>
      </div>
      <div class="col">
        <h1 class="display-4">Hi</h1>
        <p class="lead">I'm Paul Benoit</p>
        <p>I work as a Full Stack Developer on an Endpoint Detection and Response tool for The Crypsis Group.</p>
        <p>During my free time, I work on <a href="https://securitygoose.com">Security Goose</a>. Security Goose 
          is a web application I created for screening cyber security job candidates with online technical assessments.</p>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <h4>Recent Posts</h4>
  <p><a href="./posts/technical-interviews/">Rating The Best Cyber Security Hiring Approaches</a></p>
  <p><a href="./posts/migrate-s3-spaces/">How to Migrate from AWS S3 to DigitalOcean Spaces in Rails 6</a></p>
</div>

{{ end }}