{{ define "main" }}
<div class="jumbotron">
  <div class="container">
    <section class="row">
      <div class="col text-center">
        <img src="/img/paul.png" alt="Paul Benoit">
        <br>
        <a href="https://twitter.com/thepaulbenoit"><i class="fa fa-twitter fa-lg"></i></a>
        <a href="https://github.com/thepaulbenoit"><i class="fa fa-github fa-lg"></i></a>
        <a href="https://linkedin.com/in/paulbenoitsecurity"><i class="fa fa-linkedin fa-lg"></i></a>
        <a href="mailto:paul@paulbenoit.com"><i class="fa fa-envelope fa-lg"></i></a>
      </div>
      <div class="col">
        <p class="lead">Greetings,</p>
        <p class="lead">My name is Paul Benoit, and I build cyber security software.</p>
        <p>I work as a Staff Software Engineer for the <a href="https://www.paloaltonetworks.com/cortex/managed-threat-hunting">Managed Threat Hunting</a> team at Palo Alto Networks.</p>
        <p>During my free time, I am trying to make remote hiring in cyber security better.</p>
      </div>
    </section>
  </div>
</div>

<div class="container">
  <h4>Side Projects</h4>
  <p>
    <a href="https://cyberqualify.com">CyberQualify</a><br>
    Cyber security interview platform
  </p>
  <p>
    <a href="https://remotecyberwork.com">Remote Cyber Work</a><br>
    Job board for remote cyber security positions
  </p>

</div>
<br>
<div class="container">
  <h4>Recent Posts</h4>
  <p><a href="./posts/migrate-s3-spaces/">How to Migrate from AWS S3 to DigitalOcean Spaces in Rails 6</a></p>
</div>

{{ end }}