<div class="email-signup text-center mb-4">
    <form 
    style="border-top:1px solid #ccc;padding:15px;text-align:center;" 
    action="https://tinyletter.com/paulbenoit" 
    method="post" 
    target="popupwindow" 
    onsubmit="window.open('https://tinyletter.com/paulbenoit', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
    <div class="input-group mb-2 d-flex justify-content-center">
        <span class="mr-3 my-auto mb-3">
            <b>Get updates on what I'm working on and new blog posts</b>
        </span>
        <input type="text" style="width:140px" name="email" id="tlemail" placeholder="Email" class="email-box" />
        <input type="hidden" value="1" name="embed"/>
        <div class="ml-2">
            <input type="submit" value="Subscribe" class="btn btn-success" />
        </div>
    </div>
    </form>
</div>

<br>